{% extends 'base.html.twig' %}
{% block main %}
    <div class="alert">
        {{ value }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('site/js/dashboard.js') }}"></script>
{% endblock %}